body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* HEADER BAR */
.navbar {
    width: 100%;
    height: 90px;
    background: #061b3a;
    display: flex;
    align-items: center;
    padding-left: 40px;
    box-sizing: border-box;
}
.header-text {
    font-size: 28px;
    font-weight: 600;
    color: #38b6ff;
}

/* PAGE TITLE */
.page-title {
    text-align: center;
    margin-top: 30px;
}
.page-title h1 {
    margin-bottom: 8px;
    color: #222;
}
.page-title p {
    color: #555;
    font-size: 14px;
}

/* FORM BOX */
.form-box {
    margin-top: 25px;
    background: #ffffff;
    padding: 35px;
    border-radius: 16px;
    width: 380px;
    box-shadow: 0 0 18px rgba(0,0,0,0.12);
    text-align: center;
}
.form-box h2 {
    margin-bottom: 20px;
    color: #222;
}

/* INPUTS */
input[type="text"],
input[type="email"],
select {
    width: 92%;
    padding: 12px;
    font-size: 14px;
    border-radius: 8px;
    border: 1px solid #aaa;
    background: #f5f7fa;
    outline: none;
    margin-bottom: 16px;
}
input:focus, select:focus {
    border-color: #38b6ff;
    box-shadow: 0 0 6px #96d9ff;
}

/* BUTTON */
button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background: #061b3a;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}
button:hover {
    background: #0d2c5c;
}
